################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Uptime.Auction.Web/bin/Debug/netcoreapp2.1
/Uptime.Auction.Web/obj
